.weather-list{
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

@media screen and (min-width: 768px){
    .weather-list{
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}