:root{
    --light-color-primary: #F9F7F7;
    --light-color-secondary: #DBE2EF;
    --light-color-tertiary: #3F72AF;
    --light-color-quaternary: #112D4E;
    --dark-color-primary: #1B262C;
    --dark-color-secondary: #0F4C75;
    --dark-color-tertiary: #3282B8;
    --dark-color-quaternary: #BBE1FA;
    --font-title: 'Righteous', cursive;
    --font-text: 'Karla', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    color: #000;
}

.main--container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-color-primary);
    font-family: var(--font-text);
}

/* FORM / SEARCHBAR */
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    width: 100%;
}

.form--label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em .2em ;
}

.form--label > i{
    font-size: 1.8em;
    cursor: pointer;
    color: #000;
}

.form--input{
    padding: .5em .5em .4em 0.2em;
    font-family: var(--font-text);
    font-size: 1.3em;
    outline: none;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--light-color-secondary);
}

.form--input::placeholder{
    color: rgba(0, 0, 0, .5);
}

.form--btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6em;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--light-color-secondary);
    border-left: 1px solid #000;
}

.form--btn > i{
    font-size: 2em;
    cursor: pointer;
}

/* WEATHER */
