:root{
    --dark-color-primary: #1b262c;
    --dark-color-secondary: #0F4C75;
    --dark-color-tertiary: #3282B8;
    --dark-color-quaternary: #BBE1FA;
    --warm-color-primary: #B73E3E;
    --warm-color-secondary: #DD5353;
    --warm-color-tertiary: #DBC8AC;
    --warm-color-quaternary: #EDDBC0;
    --font-text: 'Raleway', sans-serif;
    --font-title: 'Karla', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    color: #fff;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
}

.main--container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-color-primary);
}

.main--container__warm{
    background-color: var(--warm-color-primary);
}

/* TOGGLE THEME BTN */
.toggle-theme--wrapper{
    width: 5em;
    height: 2em;
    border: 1px solid var(--dark-color-quaternary);
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: var(--dark-color-quaternary);
    cursor: pointer;
}

.toggle-theme--wrapper__warm{
    background-color: var(--warm-color-quaternary);
}

.toggle-theme--btn{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--dark-color-secondary);
}

.toggle-theme--btn__warm{
    background-color: var(--warm-color-secondary);
}

/* FORM / SEARCHBAR */
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    width: 100%;
    height: 10vh;
}

.form--input{
    padding: .51em .6em .65em .6em;
    font-size: 1.3em;
    outline: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--dark-color-secondary);
    color: #fff;
    font-weight: 200;
    font-family: var(--font-text);
}

.form--input__warm{
    background-color: var(--warm-color-secondary);
}

.form--input__error{
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}

.form--input::placeholder{
    font-family: var(--font-text);
    color: #ffffff7e;
    font-size: .9em;
}

.form--btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7em;
    border: none;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--dark-color-primary);
}

.form--btn__warm{
    background-color: var(--warm-color-primary);

}

.form--btn__error{
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}

.form--btn > i{
    font-size: 2.25em;
    cursor: pointer;
    color: #fff;
}

/* EMPTYSEARCH */
.empty-search{
    text-align: center;
    font-size: 1.6em;
    width: 70%;
}

.error-search{
    text-align: center;
    width: 90%;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1em;
}

/* WEATHER */
.weather-list{
    margin-top: 1em;
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.weather--single{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color-quaternary);
    color: #fff;
    border-radius: 30px 0 30px 30px;
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.43)
}

.delete-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2em;
    cursor: pointer;
}

.delete-btn:hover{
    display: block;
}

.weather--single__warm{
    background-color: var(--warm-color-quaternary)
}

.weather--main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2.5em 0;
    background-color: var(--dark-color-tertiary);
    border-radius: 30px 0 0 0;
}

.weather--main__warm{
    background-color: var(--warm-color-tertiary)
}

/* WEATHER TOP SECTION */
.weather--main__global{
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    margin: 0;

}

.weather--main__degree{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.weather--main__degree > p{
    font-size: 5em;
    margin: 0;
}

.weather--main__degree > span{
    font-size: 1em;
    font-style: italic;
}

 /* CITY TIME */
.weather--detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em 0em;
}

.weather--city{
    text-align: center;
    font-size: 2em;
    font-family: var(--font-title);
    margin: 0;
}

.weather--time{
    font-size: 1.3em;
    margin: 0;
}

/* ADDITIONNAL DETAILS */
.weather--additionnal{
    background-color: var(--dark-color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 2em 0;
    width: 100%;
    border-radius: 0 0 30px 30px;
}

.weather--additionnal__warm{
    background-color: var(--warm-color-secondary);
}

.weather--additionnal > p{
    margin: 0;
    font-size: 1.2em;
}